UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1085110, [Loan Duration] = 108, [Interest Rate] = 'Floating', [Loan Issue date] = '2019-03-12' WHERE [Loan Key] = 1;
INSERT into [dbo].[Fact_Loans] ([Loan Key], [Account Key], [Date Key], [Branch Key], [Interest Rate], [Loan Repayment Sequence Number],[Loan Repayment Amount], [Lineage Key]) VALUES (1,1,20190312,5,10.2,0,0,7);
INSERT into [dbo].[Fact_Loans] ([Loan Key], [Account Key], [Date Key], [Branch Key], [Interest Rate], [Loan Repayment Sequence Number],[Loan Repayment Amount], [Lineage Key]) VALUES (1,1,20190412,5,11.2,1,11172.61,7);
INSERT into [dbo].[Fact_Loans] ([Loan Key], [Account Key], [Date Key], [Branch Key], [Interest Rate], [Loan Repayment Sequence Number],[Loan Repayment Amount], [Lineage Key]) VALUES (1,1,20190512,5,10.2,2,11072.14,7);
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2019020, [Loan Duration] = 24, [Interest Rate] = 'Fixed', [Loan Issue date] = '2019-10-17' WHERE [Loan Key] = 2;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 921030, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-05-23' WHERE [Loan Key] = 3;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 421800, [Loan Duration] = 72, [Interest Rate] = 'Floating', [Loan Issue date] = '2019-09-07' WHERE [Loan Key] = 4;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1364230, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2019-08-26' WHERE [Loan Key] = 5;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1000100, [Loan Duration] = 36, [Interest Rate] = 'Fixed', [Loan Issue date] = '2017-11-23' WHERE [Loan Key] = 6;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1889940, [Loan Duration] = 72, [Interest Rate] = 'Floating', [Loan Issue date] = '2019-01-05' WHERE [Loan Key] = 7;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2312650, [Loan Duration] = 24, [Interest Rate] = 'Fixed', [Loan Issue date] = '2019-07-13' WHERE [Loan Key] = 8;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1693160, [Loan Duration] = 48, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-12-23' WHERE [Loan Key] = 9;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2314210, [Loan Duration] = 96, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-11-05' WHERE [Loan Key] = 10;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1827330, [Loan Duration] = 48, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-05-11' WHERE [Loan Key] = 11;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1770410, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2017-01-14' WHERE [Loan Key] = 12;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1510430, [Loan Duration] = 84, [Interest Rate] = 'Floating', [Loan Issue date] = '2017-04-07' WHERE [Loan Key] = 13;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 194990, [Loan Duration] = 96, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-01-30' WHERE [Loan Key] = 14;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1825770, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-06-10' WHERE [Loan Key] = 15;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1740370, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2020-11-06' WHERE [Loan Key] = 16;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1280150, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2018-04-04' WHERE [Loan Key] = 17;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2341840, [Loan Duration] = 24, [Interest Rate] = 'Fixed', [Loan Issue date] = '2016-06-11' WHERE [Loan Key] = 18;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 159440, [Loan Duration] = 48, [Interest Rate] = 'Fixed', [Loan Issue date] = '2016-10-21' WHERE [Loan Key] = 19;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1917910, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2020-05-21' WHERE [Loan Key] = 20;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 127580, [Loan Duration] = 48, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-05-12' WHERE [Loan Key] = 21;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 347150, [Loan Duration] = 12, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-12-20' WHERE [Loan Key] = 22;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 415180, [Loan Duration] = 12, [Interest Rate] = 'Fixed', [Loan Issue date] = '2018-11-15' WHERE [Loan Key] = 23;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2161690, [Loan Duration] = 72, [Interest Rate] = 'Fixed', [Loan Issue date] = '2016-03-03' WHERE [Loan Key] = 24;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1897390, [Loan Duration] = 96, [Interest Rate] = 'Floating', [Loan Issue date] = '2020-07-13' WHERE [Loan Key] = 25;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1463500, [Loan Duration] = 48, [Interest Rate] = 'Floating', [Loan Issue date] = '2017-12-24' WHERE [Loan Key] = 26;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 660020, [Loan Duration] = 72, [Interest Rate] = 'Fixed', [Loan Issue date] = '2018-02-27' WHERE [Loan Key] = 27;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 425080, [Loan Duration] = 12, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-02-06' WHERE [Loan Key] = 28;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1919380, [Loan Duration] = 12, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-08-31' WHERE [Loan Key] = 29;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2303300, [Loan Duration] = 72, [Interest Rate] = 'Fixed', [Loan Issue date] = '2016-04-04' WHERE [Loan Key] = 30;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1446070, [Loan Duration] = 108, [Interest Rate] = 'Floating', [Loan Issue date] = '2017-08-28' WHERE [Loan Key] = 31;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 662680, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-02-25' WHERE [Loan Key] = 32;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 483660, [Loan Duration] = 12, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-01-21' WHERE [Loan Key] = 33;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2248260, [Loan Duration] = 96, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-05-07' WHERE [Loan Key] = 34;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1281900, [Loan Duration] = 84, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-11-27' WHERE [Loan Key] = 35;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1747970, [Loan Duration] = 48, [Interest Rate] = 'Fixed', [Loan Issue date] = '2017-10-06' WHERE [Loan Key] = 36;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 931940, [Loan Duration] = 84, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-07-01' WHERE [Loan Key] = 37;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 308930, [Loan Duration] = 48, [Interest Rate] = 'Floating', [Loan Issue date] = '2017-12-10' WHERE [Loan Key] = 38;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 844210, [Loan Duration] = 96, [Interest Rate] = 'Floating', [Loan Issue date] = '2019-07-19' WHERE [Loan Key] = 39;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1572250, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-04-03' WHERE [Loan Key] = 40;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 350800, [Loan Duration] = 96, [Interest Rate] = 'Floating', [Loan Issue date] = '2017-01-01' WHERE [Loan Key] = 41;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 653980, [Loan Duration] = 24, [Interest Rate] = 'Fixed', [Loan Issue date] = '2019-05-15' WHERE [Loan Key] = 42;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 783510, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-08-21' WHERE [Loan Key] = 43;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1626090, [Loan Duration] = 72, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-02-22' WHERE [Loan Key] = 44;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1925330, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-09-25' WHERE [Loan Key] = 45;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1976140, [Loan Duration] = 96, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-01-13' WHERE [Loan Key] = 46;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2288510, [Loan Duration] = 108, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-10-05' WHERE [Loan Key] = 47;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1528050, [Loan Duration] = 36, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-03-23' WHERE [Loan Key] = 48;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1140190, [Loan Duration] = 108, [Interest Rate] = 'Floating', [Loan Issue date] = '2020-12-27' WHERE [Loan Key] = 49;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2269140, [Loan Duration] = 24, [Interest Rate] = 'Floating', [Loan Issue date] = '2020-01-18' WHERE [Loan Key] = 50;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 1055050, [Loan Duration] = 48, [Interest Rate] = 'Fixed', [Loan Issue date] = '2018-02-24' WHERE [Loan Key] = 51;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 683730, [Loan Duration] = 36, [Interest Rate] = 'Fixed', [Loan Issue date] = '2018-04-17' WHERE [Loan Key] = 52;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 211030, [Loan Duration] = 72, [Interest Rate] = 'Fixed', [Loan Issue date] = '2020-11-26' WHERE [Loan Key] = 53;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 713060, [Loan Duration] = 12, [Interest Rate] = 'Fixed', [Loan Issue date] = '2018-12-10' WHERE [Loan Key] = 54;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 844570, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2016-01-07' WHERE [Loan Key] = 55;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2101500, [Loan Duration] = 84, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-06-02' WHERE [Loan Key] = 56;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2150040, [Loan Duration] = 72, [Interest Rate] = 'Floating', [Loan Issue date] = '2016-09-28' WHERE [Loan Key] = 57;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 484340, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2017-10-01' WHERE [Loan Key] = 58;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 2194630, [Loan Duration] = 60, [Interest Rate] = 'Fixed', [Loan Issue date] = '2019-08-28' WHERE [Loan Key] = 59;
UPDATE [Dim_Loans] SET [Loan Principal Amount] = 747020, [Loan Duration] = 60, [Interest Rate] = 'Floating', [Loan Issue date] = '2018-10-01' WHERE [Loan Key] = 60;
